@using System.Collections.Specialized
@{
    Layout = null;
    HttpRequestBase rq = ViewBag.Request;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TASK 1</title>
</head>
<body>
    <div> 
        <h2>TASK 1</h2>
        <p>
            <br />@rq.HttpMethod<span>-Http-FAA:ParmA = </span>@rq.Params.Get(rq.Params.GetKey(0))<span>,
            ParmB = </span>@rq.Params.Get(rq.Params.GetKey(1))
        </p>
    </div>
</body>
</html>
