@using LB3.Controllers
@{
    Layout = null;
    List<Contact> contacts = (List<Contact>)ViewData["Contacts"];

    string sortedCollection = "";
    var sortedContacts = contacts.OrderBy(elem => elem.lastname);

    foreach (Contact contact in sortedContacts)
    {
        sortedCollection += contact.ToString() + "\n";
    }
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>LB3 start page</title>
</head>

<body>
    <h1>Telephone Dictionary</h1>
    <p>@ViewData["Contacts"]</p>

    @foreach(Contact elem in sortedContacts)
            {
                <p>[@elem.lastname] - [@elem.phone]</p>
            }

    <a href="~/Dict/Add">Add contact</a>
    <br />
    <a href="~/Dict/Update">Update contact</a>
    <br />
    <a href="~/Dict/Delete">Delete contact</a>
</body>

</html>
