@using LB3.Controllers
@{
    Layout = null;
    List<Contact> contacts = (List<Contact>)ViewData["Contacts"];

    var sortedContacts = contacts.OrderBy(elem => elem.lastname);

    string oldName = "";
    string oldPhone = "";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>LB3 start page</title>
</head>

<body>
    <h1>Telephone Dictionary</h1>

    <form>
        <p>Select contact to Update/Delete:</p>
        @foreach (Contact elem in sortedContacts)
        {
            <p><input type="radio" name="contact" id="@(elem.phone)" value="@(elem.lastname)"> 
                [@elem.lastname] - [@elem.phone]
            </p>
        }
    </form> 

    <a href="~/Dict/Add">Add contact</a>
    <br />
    <a href="~/Dict/Update?oldname=@oldName&oldphone=@oldPhone">Update contact</a>
    <br />
    <a href="~/Dict/Delete?oldname=@oldName&oldphone=@oldPhone">Delete contact</a>
</body>

</html>
