
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>LB3 start page</title>
</head>

<body>
    <h1>Telephone Dictionary</h1>
</body>

</html>
