@using LB3.Controllers
@{
    Layout = null;
    List<Contact> contacts = (List<Contact>)ViewData["Contacts"];

    var sortedContacts = contacts.OrderBy(elem => elem.lastname);

    string oldName = "";
    string oldPhone = "";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>LB3 start page</title>
</head>

<body>
    <h1>Telephone Dictionary</h1>

    <a href="~/Dict/Add">Add contact</a>

    <form method="get" action="~/Dict/Update">
        <p>Select contact to Update</p>
        @foreach (Contact elem in sortedContacts)
        {
            <p>
                <input type="radio" name="contact" value="@(elem.lastname + "_" + elem.phone)">
                [@elem.lastname] - [@elem.phone]
            </p>
        }
        <input type="submit" value="Update" />
    </form>

    <br /> <br />

    <form method="get" action="~/Dict/Delete">
        <p>Select contact to Delete</p>
        @foreach (Contact elem in sortedContacts)
        {
            <p>
                <input type="radio" name="contact" value="@(elem.lastname + "_" + elem.phone)">
                [@elem.lastname] - [@elem.phone]
            </p>
        }
        <input type="submit" value="Delete" />
    </form>

    <!-- -->
</body>

</html>
