
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>LB3 start page</title>
</head>

<body>
    <h1>Telephone Dictionary</h1>
    <p>@ViewData["Contacts"]</p>
    <a href="~/Dict/Add">Add contact</a>
    <br />
    <a href="~/Dict/Update">Update contact</a>
    <br />
    <a href="~/Dict/Delete">Delete contact</a>
</body>

</html>
