
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update page</title>
</head>
<body>
    <form method="post" action="~/Dict/UpdateSave">
        <label>Enter lastname: </label> <input type="text" value="temp" name="lastname" />
        <br /><br />
        <label>Enter phone number: </label> <input type="tel" name="phone" />
        <br /><br />
        <input type="submit" value="Save to JSON" />
    </form>
</body>
</html>
