
@{
    Layout = null;
    RouteValueDictionary routeDictionary = ViewBag.rd;
    Dictionary<string, object>.Enumerator routeParams = routeDictionary.GetEnumerator();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>C02</title>
</head>
<body>

    <h2>C02 Page</h2>

</body>
</html>
